<div style="margin: auto;">
  <mat-card style="margin-top: 0; padding-top: 0;" class="mat-card-flat">
    <mat-card-title>Settings &gt; Tokens</mat-card-title>
    <div
      fxLayout.lt-md="column"
      fxLayout="row"
      fxLayoutAlign="space-between"
      style="margin-top: 2em;"
    >
      <div fxHide fxFlex="23%" style="margin-bottom: 1em;">
        <mat-toolbar style="font-size:1em;">
          <mat-toolbar-row>
            <a routerLink="/settings/tokens"><span>> Tokens</span></a>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>

      <div fxFlex="100%">
        <mat-card-subtitle>API Token</mat-card-subtitle>
        Here is your full API token:
        <div class="code-wrapper"><code id="token-box" highlight="{{token}}" [languages]="languages" [lineNumbers]="false"></code><mat-icon ngxClipboard cbContent="{{token}}" class="copy-icon">file_copy</mat-icon></div>
        <br />
        <mat-card-subtitle>Login command:</mat-card-subtitle>
        Click the copy icon to copy your login command:
        <div class="code-wrapper"><code highlight="micro login $token" [languages]="languages" [lineNumbers]="false"></code><mat-icon ngxClipboard cbContent="micro login {{token}}" class="copy-icon">file_copy</mat-icon></div>
      </div>
    </div>
  </mat-card>
</div>
