@import "../../global.scss";

@keyframes spin {
  from {transform:rotate(0deg);}
  to {transform:rotate(360deg);}
}

.Project {
  .first-env {
    border: solid 0.5px rgba($color: $green, $alpha: 0.4);
    background-color: rgba($color: $green, $alpha: 0.06);
    border-radius: 8px;
    padding: 15px 20px;
    cursor: pointer;

    h5 {
      color: $green;
      margin: 0px 0px 8px;
      font-size: 10pt;
    }

    p {
      color: rgba($color: rgb(0,30,0), $alpha: 0.9);
      font-size: 9.5pt;
      margin: 0px;
    }
  }

  .refresh-input {
    display: flex;
    border-radius: 5px;
    border: solid 1px #00000010;
  
    input {
      flex-grow: 1;
      border: none;
      border-radius: 0px;
    }

    img {
      height: 15px;
      opacity: 0.2;
      cursor: pointer;
      padding: 10px;
      margin: auto 5px auto 0px;

      &.loading {
        opacity: 1;
        filter: $orangeFilter;
        cursor: default;
        animation: spin;
        animation-duration: 1.5s;
        animation-timing-function: linear;
        animation-iteration-count: infinite;
      }
    }
  }

  table {
    input {
      padding: 0px;
      border: none;
      margin: auto 0px;
    }
  }
}