<div fxHide.lt-md fxLayout="row">
  <div fxFlex="20%">
    <b style="font-weight: 700;">ID</b>
  </div>
  <div fxFlex="40%">
    <b style="font-weight: 700;">Name</b>
  </div>
  <div fxFlex="25%">
    <b style="font-weight: 700;">Time</b>
  </div>
  <div fxFlex="15%">
    <b style="font-weight: 700;">Duration</b>
  </div>
</div>
<br />
<div *ngIf="!traceDatasPart || traceDatasPart.length == 0">
  No traces.
</div>
<ng-container *ngFor="let traceData of traceDatasPart">
  <div fxHide.lt-md class="full-line" fxLayout="row">
    <div fxFlex="20%">
      <a href="#" (click)="show(traceData)"
        >{{ prettyId(traceData.traceId) }}
      </a>
    </div>
    <div fxFlex="40%">
      {{ getEndpointName(traceData.dataTable) }}
    </div>
    <div fxFlex="25%">
      {{ traceData.dataTable[1][2] | date: "short" }}
    </div>
    <div fxFlex="15%">
      {{ traceDuration(traceData.dataTable) }}
    </div>
  </div>
  <div
    *ngIf="traceData.show"
    style="width: 100%;"
    [ngStyle]="{ 'height.px': traceData.divHeight + 25 }"
  >
    <br />Trace ID: {{ traceData.traceId }}<br />
    <google-chart [data]="traceData"></google-chart>
  </div>
</ng-container>
<ng-container *ngFor="let traceData of traceDatasPart">
  <div fxHide.gt-sm class="small">
    <div fxLayoutAlign="space-between" fxLayout="row">
      <div fxFlex="30%">
        ID
      </div>
      <div fxFlex="70%">
        <b style="font-weight: 700;"
          ><a href="#" (click)="show(traceData)">{{
            prettyId(traceData.traceId)
          }}</a>
        </b>
      </div>
    </div>
    <div fxLayoutAlign="space-between" fxLayout="row">
      <div fxFlex="30%">
        Name
      </div>
      <div fxFlex="70%">
        {{ getEndpointName(traceData.dataTable) }}
      </div>
    </div>
    <div fxLayoutAlign="space-between" fxLayout="row">
      <div fxFlex="30%">
        Time
      </div>
      <div fxFlex="70%">
        {{ traceData.dataTable[1][2] | date: "short" }}
      </div>
    </div>
    <div fxLayoutAlign="space-between" fxLayout="row">
      <div fxFlex="30%">
        Duration
      </div>
      <div fxFlex="70%">
        {{ traceDuration(traceData.dataTable) }}
      </div>
    </div>
    <div
      *ngIf="traceData.show"
      style="width: 100%;"
      [ngStyle]="{ 'height.px': traceData.divHeight + 25 }"
    >
      <br />Trace ID: {{ traceData.traceId }}<br />
      <google-chart [data]="traceData"></google-chart>
    </div>
  </div>
</ng-container>
<mat-paginator
  #paginator
  [length]="length"
  [pageIndex]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="handlePage($event)"
>
</mat-paginator>
