.PageLayout {
  display: grid;
  grid-template-columns: 100px auto;
  height: 100vh;
  
  .sidebar {
    border-right: solid 1px #00000010;
    
    .upper {
      padding: 50px 0px 60px;
      display: flex;
      flex-direction: column;

      a {
        text-align: center;
      }

      img {
        height: 30px;
        margin-left: auto;
        margin-right: auto;
      }
      
      h1 {
        margin-top: 35px;
        font-size: 16pt;
        text-align: center;
      }
    }

    nav {
      display: flex;
      flex-direction: column;

      a {
        text-align: center;
        margin-bottom: 20px;
        outline: none;
        
        &.active img {
          opacity: 1;
        }

        &:hover img {
          transform: scale(1.1);
        }

        img {
          width: 25px;
          padding:  15px 10px;
          object-fit: contain;
        }
      }
    }
  }

  .content {
    overflow: hidden;

    h1 {
      font-size: 25pt;
      font-weight: 600;
    }

    h2 {
      font-size: 15pt;
    }
  }
}

.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Old versions of Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Opera and Firefox */
}