<form class="example-form">
  <mat-form-field class="example-full-width">
    <input name="query" matInput (keyup)="search()" [(ngModel)]="query" placeholder="Search" />
  </mat-form-field>
</form>
<mat-card
  class="mat-card-flat"
  *ngFor="let event of eventsPart"
  style="margin-bottom: 1em; background: #fcfcfc;"
>
  <mat-card-title style="align-items: center; font-size: 1.25em;">
    <a routerLink="/service/{{ event.service.name }}">{{
      event.service.name
    }}</a>
    {{ eventTypeToString(event) }}
  </mat-card-title>
  <div *ngIf="hasMeta(event)">
    <span style="color: #555">{{ event.timestamp * 1000 | dateAgo }}</span
    >&nbsp;
    <span *ngFor="let meta of visibleMeta(event) | keyvalue; let isLast = last">
      <span style="color: grey" *ngIf="meta.key == 'commit' && meta.value">
        commit:
        <a href="{{ commitUrl(event) }}">{{ shortHash(meta.value) }}</a></span
      ><span style="color: grey" *ngIf="meta.key == 'build' && meta.value">
        build:
        <a href="{{ buildUrl(event) }}">{{ meta.value }}</a></span
      >
    </span>
  </div>
</mat-card>

<div *ngIf="!events || events.length == 0">
  No events.
</div>

<mat-paginator
  #paginator
  [length]="length"
  [pageIndex]="currentPage"
  [pageSize]="pageSize"
  [pageSizeOptions]="[5, 10, 25, 100]"
  (page)="handlePage($event)"
>
</mat-paginator>
