<div style="padding-left: 1.75em; margin: auto;">
  <div fxLayout="row" fxLayoutAlign="center center">
    <div
      style="margin: 2em 0"
      fxLayoutGap="2em"
      fxLayout.lt-sm="column"
      fxLayout="row"
    >
      <div fxFlex="50%" style="padding-top: 1em;">
        <h1 class="mat-display-1">
          The simplest way to build, share and collaborate on microservices
        </h1>
        <h2 class="mat-headline">
          Micro empowers developers to build microservices in the cloud and
          beyond without thinking about the underlying infrastructure.
        </h2>
        <br />
        <p>
          Micro is built with a developer first focus.
        </p>
        <br /><br />
        <p>
          <button mat-raised-button color="primary">Learn More</button>
        </p>
      </div>

      <div fxFlex="50%" style="text-align: center">
        <img width="250px" src="./assets/circle.png" />
      </div>
    </div>
  </div>
  <div style="padding-top: 7em;">
    <h1 class="mat-display-1" style="font-size: 2em; text-align: center;">
      What we're building
    </h1>
  </div>

  <div
    style="width: 70%; margin: auto; border-top: 1px solid #ccc; padding: 3em;"
  >
    <div style="text-align: center">
      <span class="mat-display-2">
        M3O
      </span>
      <h3 style="color: grey;" class="mat-subheading-2">
        (pronounced "em-3-oh")
      </h3>
      <span>A global microservices platform </span>
    </div>

    <div style="padding-top: 2em; text-align: left">
      M3O is a serverless platform for microservices development in the cloud
      and beyond. For the past few years cloud-native technology has added
      significant complexity to software development and largely increased the
      barrier to entry for developers to get started.
    </div>
    <div style="padding-top: 1em; text-align: center">
      <h2
        class="mat-display-1"
        style="margin-bottom: 1em; color: grey; font-size: 1.5em; font-style: italic"
      >
        <i
          >&#8220;Building cloud-native services should be <br />easier not
          harder&#8221;</i
        >
      </h2>
    </div>
    <p>
      Small teams and individual developers must be empowered to build software
      at an accelerated pace but instead are forced to reason about
      infrastructure and operations.
    </p>
    <br />
    <p>
      Micro is redefining the way we build software by focusing entirely on the
      needs of developers and providing an environment in which we can realise
      the true potential of the cloud.
    </p>
    <div style="padding-top: 1em; text-align: center">
      We'll be revealing more soon. Join the
      <a href="https://micro.mu/#community">community</a> to learn more now.
    </div>
  </div>
</div>
