<div>
  <mat-spinner
    [diameter]="70"
    style="margin: auto;"
    *ngIf="!apps"
  ></mat-spinner>
</div>
<br />
<div *ngIf="apps" style="margin: auto; width: 66%;">
  <mat-card style="margin-top: 0em; padding-top: 0em;" class="mat-card-flat">
    <mat-card-title>
      <a routerLink="/apps">Apps</a>
      &nbsp;
      <button
        class="new-button"
        routerLink="/app/new"
        mat-raised-button
        color="primary"
        aria-label="Add new service"
      >
        <b style="font-weight: 700">New</b>
      </button>
    </mat-card-title>
    <br />
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input name="query" matInput [(ngModel)]="query" placeholder="Search" />
      </mat-form-field>
    </form>

    <br />
    <mat-card
      class="mat-card-flat"
      *ngFor="let app of apps | keyvalue | search: 'key':query"
      style="padding-left: 0;"
    >
      <mat-card-title
        style="display: flex; align-items: center; font-size: 1.25em;"
      >
        <a href="#" routerLink="/app/{{ app.key }}">{{ app.key }}</a
        >&nbsp;&nbsp;
        <mat-chip-list
          ><mat-chip>{{ app.value[0].language }} </mat-chip></mat-chip-list
        >
      </mat-card-title>
    </mat-card>
    <br />&nbsp;
  </mat-card>
</div>
