.menu-spacer {
  flex: 1 1 auto;
}

mat-sidenav-content {
  height: 100%;
}

.hover {
  cursor: pointer;
}

#logo {
  font-size: 2em;
  font-weight: 1000;
  font-family: medium-content-sans-serif-font, "Lucida Grande",
    "Lucida Sans Unicode", "Lucida Sans", Geneva, Arial, sans-serif;
}
