<form style="margin-left: 1.5em;" class="example-form">
  <mat-form-field class="example-full-width">
    <input
      name="query"
      matInput
      [(ngModel)]="endpointQuery"
      placeholder="Search endpoints"
    />
  </mat-form-field>
</form>
<ng-container *ngFor="let service of pickVersion(services)">
  <div
    *ngFor="let endpoint of service.endpoints | search: 'name':endpointQuery"
  >
    <div>
      <mat-expansion-panel class="mat-elevation-z0">
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ endpoint.name }}
          </mat-panel-title>
          <mat-panel-description>
            {{ endpoint.title }}
          </mat-panel-description>
        </mat-expansion-panel-header>
        <mat-tab-group animationDuration="0ms">
          <mat-tab label="Definition">
            <ng-template matTabContent>
              <br /><br />
              Request<br /><br />
              <pre class="reqresp" style="padding: 1em; background: #f6f6f6;">{{
                valueToString(endpoint.request, 1)
              }}</pre>
              <br /><br />
              Response<br /><br />
              <pre class="reqresp" style="padding: 1em; background: #f6f6f6;">{{
                valueToString(endpoint.response, 1)
              }}</pre>
            </ng-template>
          </mat-tab>
          <mat-tab label="Call">
            <ng-template matTabContent>
              <br />
              <div fxLayout.lt-md="column" fxLayout="row" fxLayoutGap="1em">
                <div fxFlex="calc(50% - 0.5em)">
                  Request<br /><br />
                  <ngx-monaco-editor
                    style="height: 25em"
                    [options]="coptions"
                    [(ngModel)]="endpoint.requestJSON"
                  ></ngx-monaco-editor>
                </div>
                <div fxFlex="calc(50% - 0.5em)">
                  Response<br /><br />
                  <ngx-monaco-editor
                    style="height: 25em"
                    [options]="coptions"
                    [(ngModel)]="endpoint.responseJSON"
                  ></ngx-monaco-editor>
                </div>
              </div>
              <br />
              <button
                mat-raised-button
                (click)="callEndpoint(service, endpoint)"
                color="primary"
              >
                Call
              </button>
            </ng-template>
          </mat-tab>
        </mat-tab-group>
      </mat-expansion-panel>
    </div>
    <br />
  </div>
</ng-container>
