<div *ngIf="false" class="container">
  <h1
    class="mat-display-1"
    id="title"
    style="text-align: center; margin-bottom: 0em;"
  >
    M3O
  </h1>
  <h3
    style="color: grey; text-align: center; margin-bottom: 0.0em; font-size: small; font-style: italic;"
    class="mat-subheading-2"
  >
    (pronounced "em-3-oh")
  </h3>
  <h3 style="text-align: center; margin-bottom: 2em;" class="mat-subheading-2">
    A microservices platform
  </h3>
  M3O is a serverless platform for microservices development. A fully managed
  cloud platform which enables developers to focus on building products rather
  than managing infrastructure. Create services at an accelerated pace without
  friction or limitation.
  <br /><br />
  <p style="text-align: center;">
    We're in invite only mode right now. Join
    <a href="https://micro.mu/community">#platform</a> on
    <a href="https://micro.mu/community">Slack</a> for an invite.<br /><br />
    <button color="primary" (click)="login()" style="font-weight: bold" mat-raised-button>
      Sign in with Github
    </button>
  </p>
</div>
