<br />
<div style="margin: auto; width: 66%;">
  <mat-card
    style="margin-bottom: 0; padding-bottom: 0; margin-top: 0em; padding-top: 0em;"
    class="mat-card-flat"
  >
    <mat-card-title>
      <a routerLink="/apps">Apps</a>
      <mat-icon
        style="vertical-align: middle; padding-left: 0.5em; padding-right: 0.5em;"
        >keyboard_arrow_right</mat-icon
      >
      {{ app?.name }}
      <!-- Using ngif here breaks viewchild, see:
            https://stackoverflow.com/questions/39158922/viewchild-not-working-cannot-read-property-nativeelement-of-undefined
          -->
    </mat-card-title>
  </mat-card>
  <mat-card style="padding-top: 0; margin-top: 0;" class="mat-card-flat">
    <!-- Next level cruft alert. Input box adds margin which is not present on steps 1+ -->
    <br /><br />
    <app-app-form [app]="app"></app-app-form>
    <br />
  </mat-card>
</div>
