@import "../../global.scss";

.PageLayout {
  display: grid;
  height: 100%;
  grid-template-rows: 50px auto;
  
  .navbar {
    display: flex;
    justify-content: space-between;
    border-bottom: solid 0.5px #00000020;

    .logo {
      width: 50px;
      height: 50px;
      margin: auto 0px auto 10px;
    }

    nav {
      display: flex;
      margin-right: 20px;
      height: inherit;

      a {
        display: flex;
        text-decoration: none;
        margin-left: 15px;
        padding: 0px 10px;
        border-bottom-width: 2px;
        border-bottom-style: solid;
        border-bottom-color: transparent;

        p {
          margin: auto 0px;
          font-weight: 600;
          font-size: 10pt;
          color: $grey;
        }

        &.active {
          color: $blue;
          border-bottom-color: $blue;

          p {
            color: $blue;
          }
        }
      }
    }
  }

  .wrapper {
    display: flex;
    overflow: hidden;

    .sidebar {
      width: 320px;
      border-right: solid 2px #00000008;
      overflow: scroll;
      flex-shrink: 0;
      display: flex;
      flex-direction: column;

      section {
        display: flex;
        flex-direction: column;
        margin-top: 20px;

        &.global {
          margin-top: auto;
          a {
            p {
              text-transform: capitalize;
            }
          }
        }

        a {
          display: grid;
          grid-template-columns: 22px auto;
          text-decoration: none;
          padding: 10px 20px;

          &.header {
            grid-template-columns: auto 22px;
            padding: 7px 20px;
            cursor: pointer;

            &.active {
              img {
                opacity: 1;
              }
            }
             
            p {
              color: grey;
              text-transform: uppercase;
              font-size: 9pt;
              font-weight: 500;
            }

            img {
              opacity: 0.3;
              margin: auto;
              height: 13px;
              width: 13px;
              padding: 10px;
              margin: -5px;

              // &:hover {
              //   opacity: 1;
              // }
            }
          }

          img {
            margin-top: auto;
            margin-bottom: auto;
            width: 10px;
            height: 10px;
            opacity: 0.8;
          }
          
          p {
            color: black;
            font-size: 9.5pt;
            font-weight: 300;
            text-transform: none;
            margin: auto 0px;
            padding: 0px;
            text-transform: lowercase;
          }

          &:last-of-type {
            p {
              text-transform: capitalize;
            }
          }

          &.active {
            background-color: rgba($color: $blue, $alpha: 0.2);
            p { color: $blue; }
            img { filter: $blueFilter; }

            &:hover {
              background-color: rgba($color: $blue, $alpha: 0.2);
            }
          }

          &:hover {
            background-color: rgba($color: black, $alpha: 0.02);
          }
        }
      }
    }

    .main {
      overflow: scroll;
      flex-grow: 1;

      .code {
        background-color:#EEEEEE;
        font-family:Consolas,Monaco,Lucida Console,Liberation Mono,DejaVu Sans Mono,Bitstream Vera Sans Mono,Courier New;
        padding: 10px 15px;
        border-radius: 4px;
        line-height: 2;
        margin-bottom: 30px;
        font-size: 9pt;
      }

      .center {
        max-width: 850px;
        min-width: inherit;
        padding: 50px 50px;
        margin-left: auto;
        margin-right: auto;
      }
    
      .header {
        display: flex;
        flex-direction: row;
        margin-bottom: 50px;
        margin-top: 20px;

        h1 {
          span {
            &:first-of-type {
              cursor: pointer;
            }
          }
        }
    
        img {
          height: 14px;
          margin-top: auto;
          margin-bottom: auto;
          padding: 15px;
          opacity: 0.2;
          cursor: pointer;
    
          &:hover {
            opacity: 1;
          }
        }
    
        h1, button {
          margin-top: auto;
          margin-bottom: auto;
        }
    
        button {
          margin-left: auto;
        }
      }
    
      section {
        margin: 50px 0px 70px;

        &:last-child {
          margin-bottom: 0px !important;
        }
            
        h2 {
          margin-top: 0px;
          margin-bottom: 15px;
        }
    
        p {
          a {
            color: $blue;
            text-decoration: none;
          }
        }

        .btn {
          margin-top: 35px;
        }
    
        table {
          margin-top: 35px;
          margin-bottom: 40px;
        }

        form {
          margin-top: 25px;
          margin-bottom: 30px;

          .row {
            display: grid;
            grid-template-columns: 150px auto;
            margin-bottom: 15px;
            &:last-of-type {
              margin-bottom: 0px;
            }
    
            label, input, select {
              margin-top: auto;
              margin-bottom: auto;
            }
          }
        }
      }
    }
  }
}

::-webkit-scrollbar {
  width: 0px;
  background: transparent; /* make scrollbar transparent */
}
