@import "../../global.scss";

.PageLayout {
  display: grid;
  height: 100%;
  grid-template-columns: 300px auto;
  
  .sidebar {
    padding: 0px 22px;
    display: flex;
    flex-direction: column;

    .logo {
      margin: 50px auto;
      width: 90px;
    }

    nav {
      flex-grow: 1;

      a {
        display: grid;
        grid-template-columns: 40px auto;
        text-decoration: none;
        border-radius: 5px;
        height: 40px;
        margin-bottom: 18px;
        padding: 5px 10px;

        img {
          max-height: 14px;
          max-width: 14px;
          margin: auto auto;
          filter: $greyFilter;
        }

        p {
          margin: auto 0px;
          font-weight: 600;
          font-size: 10pt;
          color: $grey;
        }

        &:hover {
          background-color: rgba($color: $grey, $alpha: 0.05);
        }

        &.active {
          background-color: rgba($color: $green, $alpha: 0.2);

          img {
            filter: $greenFilter;
          }

          p {
            color: $green;
          }
        }
      }
    }

    .lower {
      display: flex;
      padding: 20px 0px;
      margin-bottom: 5px;
      border-top: solid 1px #00000015;

      a {
        display: flex;
        outline: none;

        .initials {
          height: 36px;
          width: 36px;
          margin-top: auto;
          margin-bottom: auto;
          border-radius: 50%;
          background-color: #00000020;
          position: relative;
          cursor: pointer;

          p {
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            margin: 0px;
            color: $grey;
            font-weight: 500;
            line-height: 0px;
          }
        }

        .account {
          margin-top: auto;
          margin-bottom: auto;
          height: 32px;
          border-radius: 50%;
          margin-left: 10px;
          cursor: pointer;
        }
      }

      .project {
        cursor: pointer;
        padding: 20px;
        margin: -20px;
        flex-grow: 1;

        p {
          margin: 0px;
          font-size: 10pt;
          
          &.descriptor {
            font-size: 8pt;
            color: #00000095;
          }
        }
      }
    }
  }

  .main {
    background-color: white;
    border-radius: 20px 0px 0px 20px;
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.05);
    z-index: 2;
    padding: 50px;
  }
}