<div>
  <mat-spinner
    [diameter]="70"
    style="margin: auto;"
    *ngIf="!services"
  ></mat-spinner>
</div>
<div *ngIf="services" style="margin: auto;">
  <mat-card style="margin-top: 0em; padding-top: 0em;" class="mat-card-flat">
    <mat-card-title>
      <a routerLink="/services">Services</a>
      &nbsp;
      <button class="new-button"
        routerLink="/service/new"
        mat-raised-button
        color="primary"
        aria-label="Add new service"
      >
        <b style="font-weight: 700">New</b>
      </button>
    </mat-card-title>
    <form class="example-form">
      <mat-form-field class="example-full-width">
        <input
          name="query"
          matInput
          [(ngModel)]="query"
          placeholder="Search"
        />
      </mat-form-field>
    </form>

    <br />
    <mat-card
      class="mat-card-flat"
      *ngFor="let service of services | keyvalue | search: 'key':query"
      style="margin-bottom: 1em; background: #fcfcfc;"
    >
      <mat-card-title
        style="display: flex; align-items: center; font-size: 1.25em;"
      >
        <mat-icon style="color: green;">fiber_manual_record</mat-icon>
        &nbsp;<a href="#" routerLink="/service/{{ service.key }}">{{
          service.key
        }}</a
        >&nbsp;&nbsp;
        <mat-chip-list aria-label="Versions">
          <mat-chip *ngFor="let serv of service.value">{{
            serv.version
          }}</mat-chip>
        </mat-chip-list>
      </mat-card-title>
    </mat-card>
    <br />&nbsp;
  </mat-card>
</div>
