@import "../../../../assets//styles/colors.scss";

$height: 50px;

.SprintRow{
  display: flex;
  background-color: #F8F8F8;
  height: $height;
  margin-bottom: 2px;
  padding-left: 15px;

  border-left: solid 6px black;
  &.completed { border-left-color: $green; }
  &.pending { border-left-color: $blue; }

  p {
    height: inherit;
    margin: 0px;
    line-height: $height;
    font-size: 11pt;

    &.title {
      flex-grow: 1;
    }

    &.status {
      width: 160px;
      color: white;
      cursor: pointer;
      text-align: center;
      text-transform: capitalize;

      &.completed { background-color: $green; }
      &.pending { background-color: $blue; }    
    }
  }
}