<ng-container *ngFor="let node of nodes; let i = index" ;>
  <mat-divider *ngIf="i > 0"></mat-divider>
  <div *ngIf="i > 0" style="height: 2em;">&nbsp;</div>
  <div fxHide.lt-md fxLayout="row">
    <div style="width: 50%">
      <b style="font-weight: 700;">Id</b>
    </div>
    <div style="width: 50%">
      <b style="font-weight: 700;">Address</b>
    </div>
  </div>
  <div fxHide.lt-md fxLayout="row">
    <div style="width: 50%">
      {{ node.id }}
    </div>
    <div style="width: 50%">
      {{ node.address }}
    </div>
  </div>
  <div fxHide.gt-sm>
    <div>
      <b style="font-weight: 700;">Id</b>
    </div>
    <div style="padding-bottom: 1em;">
      {{ node.id }}
    </div>
    <div>
      <b style="font-weight: 700;">Address</b>
    </div>
    <div>
      {{ node.address }}
    </div>
  </div>
  <div style="padding-top: 1em;">
    <b style="font-weight: 700;">Metadata</b>
  </div>
  <div
    style="margin-bottom: 2em; font-family: 'Source Code Pro'; width: 100%; padding-top: 1em;"
  >
    <pre style="padding: 1em; background: #fcfcfc;">{{ metadata(node) }}</pre>
  </div>
</ng-container>
