<div style="margin: auto;">
  <mat-card style="margin-top: 0; padding-top: 0;" class="mat-card-flat">
    <mat-card-title>Settings &gt; Tokens</mat-card-title>
    <div
      fxLayout.lt-md="column"
      fxLayout="row"
      fxLayoutAlign="space-between"
      style="margin-top: 2em;"
    >
      <div fxHide fxFlex="23%" style="margin-bottom: 1em;">
        <mat-toolbar style="font-size:1em;">
          <mat-toolbar-row>
            <a routerLink="/settings/tokens"><span>> Tokens</span></a>
          </mat-toolbar-row>
        </mat-toolbar>
      </div>
    </div>
  </mat-card>
</div>
