@import "./global.scss";

@keyframes pulse {
0% {
    transform: scale(1.0);
}
100% {
    transform: scale(1.5);
}
}

.Loading {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;

  img {
    height: 120px;
    animation: pulse 5s ease-in-out infinite alternate;
  }
}