$green: #4CAF50;
$greenFilter: invert(74%) sepia(10%) saturate(3088%) hue-rotate(68deg) brightness(82%) contrast(72%);

$blue: #3D87F7;
$blueFilter: invert(49%) sepia(32%) saturate(6955%) hue-rotate(202deg) brightness(104%) contrast(94%);

$grey: #5B5B5B;
$greyFilter: invert(36%) sepia(0%) saturate(0%) hue-rotate(274deg) brightness(90%) contrast(83%);

$lightgrey: #FAFAFA;

$white: #FFFFFF;
$whiteFilter: invert(100%) sepia(93%) saturate(0%) hue-rotate(295deg) brightness(106%) contrast(108%);

$red: #E01E39;
$redFilter: invert(19%) sepia(80%) saturate(3720%) hue-rotate(341deg) brightness(90%) contrast(95%);

$orange: #EC7E2F;
$orangeFilter: invert(51%) sepia(94%) saturate(653%) hue-rotate(341deg) brightness(97%) contrast(90%);