@import './global.scss';

html {
  scroll-behavior: smooth;
}

body {
  margin: 0;
  height: 100vh;
  width: 100vw;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #FBFDFF;
}

#root {
  height: 100%;
  width: 100%;
}

a, p, h1, h2, h3, h4, h5, h6, tr, th, button, input, label {
  font-family: 'Public Sans', sans-serif;
}

h1 {
  font-weight: 500;
  font-size: 20pt;
  margin: 20px 0px 30px 0px;
}

h2 {
  font-size: 10.5pt;
  text-transform: uppercase;
  color: #9a9a9a;
}

h3 {
  font-weight: 600;
  font-size: 12pt;
  margin: 5px 0px 10px 0px;
}

h4 {
  font-weight:700;
  font-size: 11.5pt;
  margin: 10px 0px;
}

p {
  font-size: 10.5pt;
  line-height: 1.7;
}

header {
  min-height: 44px;
  padding: 20px 0px 40px 0px;
  display: flex;
  flex-direction: row;

  h1 {
    flex-grow: 1;
    margin: auto 0px;
  }

  button {
    margin-left: 15px;
  }
}

.btn {
  background-color: rgba($color: $green, $alpha: 0.2);
  border: none;
  height: 44px;
  border-radius: 5px;
  color: $green;
  display: flex;
  padding: 10px 30px;
  cursor: pointer;
  outline: none;
  width: fit-content;
  font-weight: 600;
  margin: 0px;
  font-size: 9pt;


  img {
    height: 15px;
    margin: auto 10px auto 0px;
    filter: $blueFilter;
  }
  
  p {
    font-weight: 600;
    margin: 0px;
    font-size: 10pt;
    flex-grow: 1;
    text-align: center;
  }

  &:disabled {
    background-color: rgba($color: #000000, $alpha: 0.1);
    color: rgba($color: #000000, $alpha: 0.3);
  }

  &.info {
    background-color: rgba($color: $blue, $alpha: 0.2);
    color: $blue;
  }

  &.danger {
    background-color: rgba($color: $red, $alpha: 0.2);
    color: $red;
  }

  &.warning {
    background-color: rgba($color: $orange, $alpha: 0.2);
    color: $orange;
  }

  &.btn-small {
    padding: 0px 20px;
    height: 35px;

    p {
      margin: 0px;
    }
  }
}

table {
  text-align: left;
  border-collapse: collapse;
  border-spacing:0px;
  border: none;
  width: 100%;
  margin-top: 20px;
  margin-left: -5px;
  margin-right: -5px;
  
  td, th {
    padding-left: 5px;
    padding-right: 5px;
  }

  thead {
    th {
      border-bottom: solid 2px #00000010;
      font-weight: 500;
      font-size: 10pt;
      padding-bottom: 15px;
    }
  }

  tbody {
    tr {
      height: 50px;
      &:hover {
        background-color: #00000002;
      }
      
      td {
        font-size: 10pt;
        border-bottom: solid 1px #00000010;

        button {
          cursor: pointer;
          border: none;
          font-size: 10pt;
          padding: 10px;
          margin-left: -10px;
          margin-right: 15px;
          font-weight: 500;
          outline: none;

          &:last-of-type {
            margin-right: 0px;
          }

          &:hover {
            color: $blue;
          }

          &.danger {
            &:hover {
              color: $red;
            }
          }
          
          &.warning {
            &:hover {
              color: $orange;
            }
          }
        }
      }
    }
  }
}

form {
  display: flex;
  flex-direction: column;
}

label, input, select {
  font-size: 10pt;
}

label {
  font-weight: 500;
  line-height: 30px;
  margin-bottom: 5px;
}

input, select {
  margin: 3px 0px 25px 0px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
  border: solid 1px #00000010;
  outline: none;
  line-height: 1.6;
  background-color: transparent;
  height: 40px;
}