<div style="margin: auto;">
  <mat-card
    style="margin-bottom: 0; padding-bottom: 0; margin-top: 0em; padding-top: 0em;"
    class="mat-card-flat"
  >
    <mat-card-title>
      <a routerLink="/services">Services</a> &gt; go.micro.srv.<span
        *ngIf="step > 0"
        >{{ alias }}</span
      >
      <!-- Using ngif here breaks viewchild, see:
        https://stackoverflow.com/questions/39158922/viewchild-not-working-cannot-read-property-nativeelement-of-undefined
      -->
      <mat-form-field
        id="new-service-input"
        *ngIf="step == 0"
        style="padding-top: 0em; margin-top: 0em; width: 9em;"
      >
        <input
          id="sinput"
          #sinput
          matInputAutofocus
          matInput
          [formControl]="serviceInput"
          [(ngModel)]="alias"
          (ngModelChange)="regen()"
          (keyup)="keyPress($event)"
          autocomplete="off"
        />
        <mat-error *ngIf="serviceExists">Service already exists.</mat-error>
        <mat-spinner
          *ngIf="loadingServices"
          matSuffix
          [diameter]="18"
          style="float: right; margin-left: 8px"
        ></mat-spinner>
      </mat-form-field>
    </mat-card-title>
  </mat-card>
  <mat-card
    *ngIf="loaded"
    style="padding-top: 0; margin-top: 0;"
    class="mat-card-flat"
  >
    <!-- Next level cruft alert. Input box adds margin which is not present on steps 1+ -->
    <br *ngIf="step != 0" />
    <mat-card-title>
      New service
    </mat-card-title>

    <ng-container *ngIf="serviceExists">
      Your service already exists:
      <a routerLink="/service/{{ this.serviceName }}">go to service page</a>.
    </ng-container>

    <ng-container *ngIf="!serviceExists">
      <div *ngIf="step == 0">
        <p>
          Create your service with the following commands:
        </p>

        <pre
          class="code-wrapper"
          *ngIf="step == 0"
          style="margin-top: 0.5em;"
        ><code [highlight]="code" [languages]="languages" [lineNumbers]="false"></code><mat-icon ngxClipboard cbContent="{{code}}" class="copy-icon">file_copy</mat-icon></pre>
      </div>
      <div *ngIf="step == 3" style="vertical-align: center;">
        <p>
          Your service is being auto-deployed. Optionally use the step below to
          manually run the service.
        </p>
        <p>
          Login in terminal:
          <code
            >micro login $token
            <button mat-stroked-button>
              <mat-icon
                class="inline-icon"
                style="cursor: pointer"
                ngxClipboard
                cbContent="micro login --platform {{ token }}"
                >file_copy</mat-icon
              >
            </button></code
          >
        </p>

        <p>
          <a routerLink="/settings/tokens">After logging in</a>, start your
          service with the following command:
        </p>
        <pre
          class="code-wrapper"
          style="margin-top: 0.5em;"
        ><code [highlight]="runCode" [languages]="languages" [lineNumbers]="false"></code><mat-icon ngxClipboard cbContent="{{runCode}}" class="copy-icon">file_copy</mat-icon></pre>
      </div>

      <br />
      {{ this.stepLabels()[this.step] }}<br /><br />
      <mat-progress-bar
        mode="determinate"
        value="{{ progressPercentage }}"
      ></mat-progress-bar>
    </ng-container>
  </mat-card>
</div>
